---
---

//
// IMPORTS
//
@import "_normalize";
@import "_variables";
@import "_skeleton";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* CUSTOM RULES */
/**************/

/*
* Custom Code
* Feel Free To Modify / Share / Use
* No Restrictions.
*/

.container {
  max-width: 800px;
}
.header {
  padding: 2rem;
  text-align: center;
  background:$blue;
  color:white;
  z-index: 9;
}
.header .title {
  text-transform: lowercase;
}
.footer {
  padding: 2rem;
  text-align: center;
  background:$darkBlue;
  color:white;

}
.footer .subtitle {
  text-transform: lowercase;
  font-size: 20px;
  letter-spacing: 0;
}
/* Navbar */
.navbar + .docs-section {
  border-top-width: 0; 
}
.navbar,
.navbar-spacer {
  z-index: 9;
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff6f1;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.navbar-spacer {
  display: none;
}
.navbar > .container {
  width: 100%; 
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-item .button {
  margin-top:10px;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; 
}
.navbar-link.active {
  color: #33C3F0; 
}
.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0; 
}
.has-docked-nav .navbar-spacer {
  display: block; 
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
  width: 80%; 
}

.featuredimage{
  text-align: right;
  color: #c3c3c3;
  font-size: 80%;
}

.pagetitle {
  margin-top:30px;
}

#mailinglist {
  background: #f7f7f7;
  border: 2px dashed #626262;
  padding:20px
}

.headtitle {
  margin-top:30px;
}

article {
  min-height:400px;
  margin-bottom:50px;
}

ul .bloglist a {
  text-decoration: none;
}

a.logo {
  text-decoration:none;
  color:$white;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";