---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}



<article class="post container">
{% if page.image %}
<div class="featuredimage">
  <img src="{{ page.image }}" width="100%">
  {{ page.imagecredit }}
  </div>
{% endif %}

<h2 class="pagetitle">{{ page.title }}</h2>
  <h1></h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
  &mdash; {{page.author}} <i>on</i> {{ page.date | date: "%B %e, %Y" }}
  </div>

  <form id="mailinglist">
  <h5>Join Our Flock</h5>
  <p>Get our weekly blog posts by emails, get direct access to church leadership to talk to and ask questions, and more with just your email address.</p>
  <div class="row">

    <div class="six columns">
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>
    <div class="six columns">
  <input class="button-primary" type="submit" value="Submit">
  </div>
  </div>
</form>

<p id="post-meta">{{ tags_content }}</p>
</article>


