---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}



<article class="post container">
{% if page.image %}
<div class="featuredimage">
  <img src="{{ page.image }}" width="100%">
  {{ page.imagecredit }}
  </div>
{% endif %}

<h2 class="pagetitle">{{ page.title }}</h2>
  <h1></h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
  &mdash; {{page.author}} <i>on</i> {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div id="mailinglist">
  <h5>Join Our Flock</h5>
  <p>Get our weekly blog posts by emails, get direct access to church leadership to talk to and ask questions, and more with just your email address.</p>
  <div class="row">
  <div id="mc_embed_signup">
<form action="//church.us9.list-manage.com/subscribe/post?u=47d5670c513a21e571a6eb22e&amp;id=8602c44058" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="six columns">
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email u-full-width" id="mce-EMAIL" placeholder="email@address.com">
</div>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47d5670c513a21e571a6eb22e_8602c44058" tabindex="-1" value=""></div>
    <div class="six columns">
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
    </div>
    </div>
</form>
</div>
</div>
</div>



</article>


